@model Deal.Models.AreasDeAtuacaoDoPrestador

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="titulo_formulario_index">
        <h1 style="font-weight: 840; font-size: 45px;">Cadastrar nova área de atuação</h1>
    </div>
    <div class="container_formulario">
        <div style="width: 800px;">
            <form asp-action="Create">
                <div class="item_formulario">
                    <label asp-for="FkPrestador" class="control-label" style="font-weight: 600; margin-bottom: 10px;"></label>
                    <select asp-for="FkPrestador" class="form-control" asp-items="ViewBag.FkPrestador"></select>
                </div>
                <div class="item_formulario">
                    <label asp-for="FkAreaAtuacao" class="control-label" style="font-weight: 600; margin-bottom: 10px;"></label>
                    <select asp-for="FkAreaAtuacao" class="form-control" asp-items="ViewBag.FkAreaAtuacao"></select>
                </div>
                <div class="botao_formulario">
                    <input type="submit" value="Criar" class="botao_formulario" style="font-weight: 600; margin-bottom: 10px;" />
                </div>
                <div class="botao_formulario2">
                    <input type="submit" value="Retornar" asp-action="Index" asp-controller="AreasDeAtuacaoDoPrestador"
                        class="botao_formulario" style="font-weight: 600; background-color: #b780e7;" />
                </div>
            </form>
        </div>
    </div>
</div>
