@{
    ViewData["Title"] = "AcordosPrestador";
    Layout = "_LayoutPrestador";
    @model IEnumerable<Acordo>
}

<div class="titulo_formulario_index centralizar">
    <h1 style="font-weight: 840; font-size: 45px;">Seus acordos</h1>
</div>

<div class="container centralizar">
    <div class="Cliente-acordo" style="width: 40%;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Numero do acordo
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Servico.Nome)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcordoId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FkServico)
                        </td>
                        <div>
                            <a asp-action="AcordoPrestador" asp-route-id="@item.AcordoId" class="btn btn-roxo-escuro">Ver mais</a>
                        </div>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
>>>>>>> main
