@model IEnumerable<Deal.Models.Acordo>
@{
    ViewData["Title"] = "Acordos Cliente";
}


<div class="titulo_formulario_index centralizar">
    <h1 style="font-weight: 840; font-size: 45px;">Seus acordos</h1>
</div>
<div class="centralizar">
    <div class="container centralizar" style="display: flex; flex-direction: row;">
        <div class="acordos-page" style="width: 40%; height: 30%; padding: 30px;">
            <div class="txt-acordos">
                <div class="row centralizar">
                    @foreach (var item in Model)
                    {                
                        <dl class="row">
                                    <dt class="col-sm-3">
                                        Descrição:
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(modelItem => item.Servico.Descricao)
                                    </dd>
                                    <dt class="col-sm-3">
                                        Serviço:
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(modelItem => item.Servico.Nome)
                                    </dd>
                                    <dt class="col-sm-3">
                                        Categoria:
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(modelItem => item.Servico.Categoria.Atuacao)
                                    </dd>
                                </dl>
                            <a asp-action="AcordoCliente" asp-route-id="@item.AcordoId" class="btn btn-roxo-escuro" style="margin:0px">Ver mais</a>
                    }
                </div>    
            </div>
        </div>
    </div>
</div>

