@model Deal.Models.ReportePrestador

@{
    ViewData["Title"] = "Create";
}

<div class="container_delete" style="justify-content: center; align-items: center;">
    <div class="titulo_formulario_index">
        <h1 style="font-weight: 840; font-size: 45px;">Deseja Reportar @Model.Prestador.Nome?</h1>
    </div>
    <div class="WarningInfo">
        <p>O Acordo será cancelado</p>
    </div>
    <hr style="margin: 40px 0 20px;" />
    <div class="formContent">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="FkCliente" class ="form-control" value="@ViewBag.FkCliente">
            </div>
            <div class="form-group">
                <input hidden asp-for="FkPrestador" class ="form-control" value="@ViewBag.FkPrestador">
            </div>
            <div class="form-group">
                <input hidden asp-for="FkServico" class ="form-control" value="@ViewBag.FkServico">
            </div>
            <div class="form-group">
                <input type="submit" value="Reportar" class="btn btn-roxo" />
            </div>
        </form>
    </div>
</div>

