@model Deal.Models.Video

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Video</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VideoId" />
            <div class="form-group">
                <label asp-for="VideoPrestador" class="control-label"></label>
                <input asp-for="VideoPrestador" class="form-control" />
                <span asp-validation-for="VideoPrestador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Portfolio</label>
                <select asp-for="FkPortfolio" class="form-control" asp-items="ViewBag.FkPortfolio"></select>
                <span asp-validation-for="FkPortfolio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

