@model IEnumerable<Deal.Models.Certificado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Novo Certificado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Certificado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CertificadoFotoPortfolio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CertificadoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CertificadoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CertificadoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
