@{
    ViewData["Title"] = "CriaConta";
}



<div class="container">
    <div class="titulo_formulario_index">
    <h1 style="font-weight: 840; font-size: 45px;">Qual o seu objetivo?</h1>
</div>

<div class="container Cliente-page">
    <section class="container section-form">
        <div>
            <div class="titulo_cliente_page">
                <h1 style="font-weight: 840;">
                    <span class="roxo">Cliente</span>
            </div>
            <div class="txt_cliente_page">
                <h1 style="font-weight: 440; font-size: 25px;">
                    <span>Procurar e solicitar serviços de acordo com a sua necessidade</span>
            </div >
            <a asp-controller="Clientes" type="submit" asp-action="Create" class="btn-cliente" style="font-weight: 600px;">Acesse aqui</a>
        </div>
    </section>
</div>

<div class="container Prestador-page">
    <section class="container section-form">
        <div>
            <div class="titulo_prestador_page">
                <h1 style="font-weight: 840;">
                    <span class="roxo">Prestador</span>
            </div>
            <div class="txt_prestador_page">
                <h1 class="txt_prestador_page" style="font-weight: 440; font-size: 25px;">
                    <span>Fornecer serviços em sua <br> respectiva área de atuação</span>
            </div >
            <a asp-controller="Prestadores" type="submit" asp-action="Create" class="btn-prestador" style="font-weight: 600px;">Acesse aqui</a>
        </div>
    </section>
</div>
