@{
    
    if(ViewBag.Cliente != null){
        Layout = "_LayoutCliente";
    }else
    if(ViewBag.Prestador != null){
        Layout = "_LayoutPrestador";
    }else{
        Layout = "_Layout";
    }
    ViewData["Title"] = "Home Page";
}
<section id="introducao_Site" style="align-items: center;">
    <div>
        <h1 style="font-weight: 840; font-size: 50px;">Nós somos a <br><span style="color: blueviolet;">solução</span>
            para qualquer <br>tipo de <span style="color: blueviolet;">necessidade</span></h1>
        <p>um serviço moderno, prático e eficiente que<br>une a sua necessidade com um prestador<br>que poderá
            sanala</p>
        <a asp-action="Index" asp-controller="Usuarios" ><button class="criar-conta">Experimente agora</button></a>
    </div>
</section>
<section id="tiposServicos">
    <h2>Tipos de serviços</h2>
    <div id="list-tiposServicos" class="container-fluid">
        <div class="servico">
            <p>Elétrica</p><img src="~/img/eletrica.svg" alt="">
        </div>
        <div class="servico">
            <p>Hidraulica</p><img src="~/img/Hidraulica.svg" alt="">
        </div>
        <div class="servico">
            <p>Carreto</p><img src="~/img/carreto.svg" alt="">
        </div>
        <div class="servico">
            <p>Mecânica</p><img src="~/img/mecanica.svg" alt="">
        </div>
        <div class="servico">
            <p>Marcenaria</p><img src="~/img/Marcenaria.svg" alt="">
        </div>
        <div class="servico">
            <p>Pintura</p><img src="~/img/Pintura.svg" alt="">
        </div>
        <div class="servico">
            <p>Computador</p><img src="~/img/Computador.svg" alt="">
        </div>
        <div class="servico">
            <p>Eletrônica</p><img src="~/img/eletronica.svg" alt="">
        </div>
        <div class="servico">
            <p>Serviços Gerais</p><img src="~/img/servicos-gerais.svg" alt="">
        </div>
    </div>
</section>
<section>
    <div id="servicosMaisSolicitados">
        <h2>Serviços mais solicitados</h2>
        <div id="listServicosMaisSolicitados">
            <div class="setaRetornar"></div>
            <div class="cardServicosMaisSolicitados" style="sombras">
                <img src="~/img/eletrica.png" alt="">
                <p>Elétrica</p>
                <button>
                    Faça seu orçamento
                </button>
            </div>
            <div class="cardServicosMaisSolicitados">
                <img src="~/img/mecanica.png" alt="">
                <p>Mecânica</p>
                <button>
                    Faça seu orçamento
                </button>
            </div>
            <div class="cardServicosMaisSolicitados">
                <img src="~/img/pintura.png" alt="">
                <p>Pintura</p>
                <button>
                    Faça seu orçamento
                </button>
            </div>
            <div class="setaSeguinte"></div>
        </div>
    </div>
</section>
<section>
    <div id="Deal_sobre_nos" style="color: white">
        <div class="container" style="padding: 40px;">
            <h5 class="card-title" style="font-size: 50px; font-weight: bold;">Sobre nós
            </h5>
            <p class="card-text container-sm" style="font-size: 18px">O projeto Deal tem a finalidade de atender a essas necessidades por meio de um intermédio entre um cliente e um realizador de serviços, buscando a segurança e a qualidade de serviço de ambos os lados, da forma mais simples possível, tanto em trabalhos onlines como presenciais com as tecnologias mais modernas do mercado.</p>
        </div> <div class="titulo_links">
        <p style="font-size: 35px;">Conheça a nossa equipe</p>
    </div>
    <div class="container Links_perfil">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-links dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Micael Macedo
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://www.linkedin.com/in/micael-macedo/">Linkedin</a></li>
                    <li><a class="dropdown-item" href="https://github.com/Micael-Macedo">Github</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-links dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    bruno Barlaan
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                            href="https://www.linkedin.com/in/bruno-barlaan-a57151214/">Linkedin</a></li>
                    <li><a class="dropdown-item" href="https://github.com/BrunoBarlaan">Github</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-links dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Breno Lobracci
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                            href="https://www.linkedin.com/in/breno-lobracci-6b1082134/">Linkedin</a></li>
                    <li><a class="dropdown-item" href="https://github.com/Breno-Lobracci">Github</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-links dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Ítalo Rocha
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://www.linkedin.com/in/italo-r-8ba70211b/">Linkedin</a></li>
                    <li><a class="dropdown-item" href="https://github.com/ItaloRB">Github</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-links dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Isaías Pinheiro
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                            href="https://www.linkedin.com/in/isaias-santos-pinheiro-77b954114/">Linkedin</a></li>
                    <li><a class="dropdown-item" href="https://github.com/izal25">Github</a></li>
                </ul>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-links dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Vinicius Almeida
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                            href="https://www.linkedin.com/in/vinicius-almeida-8975bb237/">Linkedin</a></li>
                    <li><a class="dropdown-item" href="ttps://github.com/vini29almeida">Github</a></li>
                </ul>
            </div>
    </div>
</section>
<section>
            @* </div>
                </div>

                <div id="content_Info_Deal_Devs" class="container">
                <div>
                <p style="margin-top: -80; font-weight: bold; font-size: 35px;">Conheça a nossa equipe</p>
                <div id="info_Deal_devs">
                <div class="info_Deal_Dev"><a href="https://github.com/Micael-Macedo" target="_blank"><img
                src="img/github-icon.png" alt=""></a><a href="https://www.linkedin.com/in/micael-macedo/"
                target="_blank"><img src="img/linkedin_logo.png" alt=""></a>Micael Macedo</div>
                <div class="info_Deal_Dev"><a href="https://github.com/BrunoBarlaan" target="_blank"><img
                src="img/github-icon.png" alt=""></a><a
                href="https://www.linkedin.com/in/bruno-barlaan-a57151214/" target="_blank"><img
                src="img/linkedin_logo.png" alt=""></a>Bruno Barlaan</div>
                <div class="info_Deal_Dev"><a href="https://github.com/Breno-Lobracci" target="_blank"><img
                src="img/github-icon.png" alt=""></a><a
                href="https://www.linkedin.com/in/breno-lobracci-6b1082134/" target="_blank"><img
                src="img/linkedin_logo.png" alt=""></a>Breno Lobracci</div>
                <div class="info_Deal_Dev"><a href="https://github.com/ItaloRB" target="_blank"><img
                src="img/github-icon.png" alt=""></a><a href="https://www.linkedin.com/in/italo-r-8ba70211b/"
                target="_blank"><img src="img/linkedin_logo.png" alt=""></a>Italo Rocha</div>
                <div class="info_Deal_Dev"><a href="https://github.com/izal25" target="_blank"><img
                src="img/github-icon.png" alt=""></a><a
                href="https://www.linkedin.com/in/isaias-santos-pinheiro-77b954114/" target="_blank"><img
                src="img/linkedin_logo.png" alt=""></a>Isaias Santos</div>
                <div class="info_Deal_Dev"><a href="https://github.com/vini29almeida" target="_blank"><img
                src="img/github-icon.png" alt=""></a><a
                href="https://www.linkedin.com/in/vinicius-almeida-8975bb237/" target="_blank"><img
                src="img/linkedin_logo.png" alt=""></a>Vinicius Almeida</div>
                </div>
                </div> *@
</section>