@{

    ViewData["Title"] = "Pagina Login";
}


<div class="container1 container loginPage">
    <section class="container section-form">
            <div>
            <div class="titulo_formulario_login">
                <h1 style="font-weight: 840;">Seja agora um
                    <br><span class="roxo">cliente</span> ou <span class="roxo">profissional</span>
            </div>
           
            <form asp-action="login" class="formulario">
                <div class="item_formulario">
                    <label class="control-label" style="font-weight: 600;">Email</label>
                    <input id="email" name="email" type="text" placeholder="Email">
                </div>
                <div class="item_formulario">
                    <label class="control-label" style="font-weight: 600;">Senha</label>
                    <input id="senha" name="email" type="password" placeholder="Senha">
                </div>
                <div class="form-check form-switch">
                    <input name="direcionamento" class="form-check-input" type="checkbox" role="switch"
                        id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Prestador</label>
                </div>
                <button class="btn-login">Login</button>
            </form>
            <a asp-action="criarConta"><button class="btn-login">Criar conta</button></a>
        </div>
    </section>
</div>