@model Deal.Models.Portfolio

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar</h1>

<h3>Você tem certeza que deseja cancelar este serviço?</h3>
<div>
    <h4>Portfolio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descrição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Experiencia Profissional
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienciaProfissional)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PortfolioId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar</a>
    </form>
</div>
