@model Deal.Models.AreaAtuacao

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Área de atuação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AreaAtuacaoId" />
            <div class="form-group">
                <label class="control-label">Área de atuação</label>
                <input asp-for="Atuacao" class="form-control" />
                <span asp-validation-for="Atuacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

