@model Deal.Models.Foto

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar</h1>

<h3>Você tem certeza que deseja cancelar este serviço?</h3>
<div>
    <h4>Foto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Foto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPrestador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portfolio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portfolio.PortfolioId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FotoId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar</a>
    </form>
</div>
